<h3>Login below, or <a href="/signup">sign up</a> to create a new account.</h3>
<br>
<hr>
<%= erb :"_error_box" %>
<form action="/login" method="post" id="user-login">
  <%= erb :"sessions/_login_form_fields", layout: false, locals: {user: @user } %>
  <input type="submit" value="Login">
</form>
