<h3>Below your login, <a href='/signup'>create new</a> if you need to</h3>
<br>
<hr>
<%= erb :"_error_box" %>
<form action='/login' method='post' id='user-signin'>
  <%= erb :"sessions/_login_form_fields", locals: {person: @person } %>
  <input type="submit" value="Login">
</form>
