.container {
  margin: 0 auto;
  width: 720px;
  padding: 20px;
}

.pillar-name {
  font-weight: bold;
}

.error-messages {
  color: red;
  font-size: 10px;
}

span.active {
  color: red;
}

.checked-box {
  background: url('../images/checkbox_checked.png');
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
}

.unchecked-box {
  background: url('../images/checkbox_unchecked.png');
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
}

h1 {
  text-align: center;
}

.goal-listing h3 {
  display: inline-block;
}