body {
  background-color: #459E62;
}

.container {
  margin: 0 auto;
  width: 720px;
  padding: 20px;
  background-color: #EBEBFF;
}

.nav-bar {
  background-color: #B8628D;
  margin: -20px -20px 1em -20px;
  padding: 1em;
  color: white;
}

.nav-bar a {
  color: white;
  margin: 0.5em;
}

.logo {
  display: inline-block;
}

.definition-link {
  display: inline-block;
}

.nav-options {
  display: inline-block;
}

.pillar-name {
  font-weight: bold;
}

.error-messages {
  color: red;
  font-size: 10px;
}

span.active {
  color: red;
}

.checked-box {
  background: url('../images/checkbox_checked.png');
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  display: inline-block;
}

.unchecked-box {
  background: url('../images/checkbox_unchecked.png');
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  display: inline-block;
}

h1 {
  text-align: center;
}

.goal-listing h3 {
  display: inline-block;
}

.helpful-hints {
  color: gray;
}
