.container {
  margin: 0 auto;
  width: 720px;
  padding: 20px;
}

.pillar-name {
  font-weight: bold;
}

.error-messages {
  color: red;
  font-size: 10px;
}

.goal-listing {
  margin: 1em;
}

span.active {
  color: red;
}