<%= erb :_nav_bar, layout: false %>
<h2>Edit Goal: <%= @goal.name %></h2>
<form action="/goals" method="post" class="edit-goal-form">
  <input type="hidden" name="_method" value="put">
  <a href="/users/<%= @user.id %>">
    <input type="button" value="Cancel">
  </a>
  <input type="submit" value="Save Changes">
</form>