<div class="container">
  <h1>Getting It Together</h1>
  <h2>The Definition</h2>
  <p>
    The following is a working document that explores the meaning of Togetherness, as defined by the Ladies A, C, and E.
  </p>
  <p>
    The Ladies would like to emphasize that Togetherness is an ongoing, iterative process. It is not a specific person, place, or state of perfection. Togetherness is a concept, and a journey that the Ladies envision themselves traversing for their entire lives. The Definition is not intended to be a restrictive document, but rather a set of guiding ideas to help shape the hard work of self-improvement.
  </p>
  <p>
    Edited and ratified December 30, 2014 by unanimous vote of the membership, to date.
  </p>
  <h2>As a Together Person I strive to…</h2>
  <h3>Take care of my body.</h3>
  <p>Characteristics of <span class="pillar-name">Physical Togetherness (PT)</span>:
    <ul class="characteristics">
      <li>
        Develop good habits that give my body the energy I need to address other aspects of Togetherness.  I prioritize these habits by:
        <ul class="sub-points">
          <li><strong>Sleeping</strong> — getting enough sleep at regular intervals; maintaining a consistent sleep schedule whenever possible</li>
          <li><strong>Eating</strong> — maintaining a well-balanced diet complete with the nutrients my body needs; eating at regular intervals that complement my daily schedule</li>
          <li><strong>Exercising</strong> — regularly engaging in the physical activities that keep me strong and energetic</li>
          <li><strong>Hygiene</strong> — bathing, brushing teeth, flossing, etc.; I am physically presentable when I go out into the world</li>
        </ul>
      </li>
      <li>Maintain my body through regular doctor visits and self-examinations.</li>
      <li>Be in tune with my body and recognize its needs and signals.</li>
    </ul>
  </p>
  <h3>Take care of my emotions.</h3>
  <p>Characteristics of <span class="pillar-name"></span>:</p>
  <h3>Take care of my space.</h3>
  <p>Characteristics of <span class="pillar-name"></span>:</p>
  <h3>Take care of my relationships.</h3>
  <p>Characteristics of <span class="pillar-name"></span>:</p>
  <h3>Prioritize.</h3>
  <p>Characteristics of <span class="pillar-name"></span>:</p>
  <h3>Take care of my finances.</h3>
  <p>Characteristics of <span class="pillar-name"></span>:</p>
  <h3>Be flexible.</h3>
  <p>Characteristics of <span class="pillar-name"></span>:</p>
</div>