<%= erb :_nav_bar, layout: false %>
<h1>TogetherGetter</h1>
<p>Welcome to TogetherGetter, the website that helps you Get It Together. Create an account or sign in to set goals and track your progress. You can also encourage your friends by commenting on the progress they've made toward their own goals</p>
<p>This web app is based on <a href="/togetherness">the definition of Getting It Together</a>, as developed by the Ladies A, C, and E. In this definition, Togetherness is broken down into seven pillars:
  <ol>
    <li><span class="pillar-title">Physical Togetherness (PT):</span> taking care of one's body</li>
    <li><span class="pillar-title">Emotional Togetherness (ET):</span> taking care of one's emotions</li>
    <li><span class="pillar-title">Organizational Togetherness (OT):</span> taking care of one's space</li>
    <li><span class="pillar-title">Interpersonal Togetherness (IT):</span> taking care of one's relationships</li>
    <li><span class="pillar-title">Boundary-Setting (B):</span> taking care of one's priorities</li>
    <li><span class="pillar-title">Financial Togetherness (FT):</span> taking care of one's finances</li>
    <li><span class="pillar-title">Flexibility (F):</span> adapting to those things that are out of one's control</li>
  </ol>
</p>
<p>
  The Ladies would like to emphasize that Togetherness is an ongoing, iterative process. It is not a specific person, place, or state of perfection. Togetherness is a concept, and a journey that the Ladies envision themselves traversing for their entire lives. The Definition is not intended to be a restrictive document, but rather a set of guiding ideas to help shape the hard work of self-improvement.
</p>
