<div class="container">
  <h1>Getting It Together</h1>
  <h2>The Definition</h2>
  <p>
    The following is a working document that explores the meaning of Togetherness, as defined by the Ladies A, C, and E.
  </p>
  <p>
    The Ladies would like to emphasize that Togetherness is an ongoing, iterative process. It is not a specific person, place, or state of perfection. Togetherness is a concept, and a journey that the Ladies envision themselves traversing for their entire lives. The Definition is not intended to be a restrictive document, but rather a set of guiding ideas to help shape the hard work of self-improvement.
  </p>
  <p>
    Edited and ratified December 30, 2014 by unanimous vote of the membership, to date.
  </p>
  <h2>As a Together Person I strive to…</h2>
  <h3>Take care of my body.</h3>
  <p>Characteristics of <span class="pillar-name">Physical Togetherness (PT)</span>:
    <ul class="characteristics">
      <li>
        Develop good habits that give my body the energy I need to address other aspects of Togetherness.  I prioritize these habits by:
        <ul class="sub-points">
          <li><strong>Sleeping</strong> — getting enough sleep at regular intervals; maintaining a consistent sleep schedule whenever possible</li>
          <li><strong>Eating</strong> — maintaining a well-balanced diet complete with the nutrients my body needs; eating at regular intervals that complement my daily schedule</li>
          <li><strong>Exercising</strong> — regularly engaging in the physical activities that keep me strong and energetic</li>
          <li><strong>Hygiene</strong> — bathing, brushing teeth, flossing, etc.; I am physically presentable when I go out into the world</li>
        </ul>
      </li>
      <li>Maintain my body through regular doctor visits and self-examinations.</li>
      <li>Be in tune with my body and recognize its needs and signals.</li>
    </ul>
  </p>
  <h3>Take care of my emotions.</h3>
  <p>Characteristics of <span class="pillar-name">Emotional Togetherness (ET)</span>:
    <ul class="characteristics">
      <li>Improve emotional perspective- “the capacity to view things in their true relations or relative importance.”</li>
      <li>Recognize the extent to which I have emotional choices in different situations:
        <ul class="sub-points">
          <li>Make an effort to choose positive emotions when possible.</li>
          <li>Exercise agency to change situations when necessary. (e.g. Difficult Conversations)</li>
        </ul>
      </li>
      <li>Be forward thinking. I work to define and take deliberate steps toward my long-term future, while accepting that those plans may not always come to fruition.</li>
      <li>Be kind to myself; I cut myself slack when necessary, and kick my own butt when needed.</li>
      <li>Be in tune with my emotions.  This means:
      <ul class="sub-points">
          <li>I can identify my emotions and take time to contemplate their causes and implications.</li>
          <li>I carve out time, mental space, and energy for addressing ET in my life.</li>
          <li>I have identified a specific set of personal strategies to implement when I am feeling bad, and I use them.</li>
          <li>I recognize that feeling like a grown-up and doing the grown-up thing may not always coincide.</li>
          <li>I can maintain other areas of Togetherness while coping with outside forces that negatively impact my emotions.</li>
        </ul>
      </li>
    </ul>
  </p>
  <h3>Take care of my space.</h3>
  <p>Characteristics of <span class="pillar-name">Organizational Togetherness (OT)</span>:
    <ul class="characteristics">
      <li>Be able to get my hands on whatever I need whenever I need it; my organizational systems complement my personality, sense of style, and daily routines.</li>
      <li>Have addressed the organization of my:
        <ul class="sub-points">
          <li>Home</li>
          <li>Closets and Clothes</li>
          <li>Office</li>
          <li>Automobile</li>
          <li>Schedule</li>
          <li>Documents</li>
          <li>Finances</li>
          <li>Purse and/or Wallet</li>
          <li>Storage</li>
          <li>Electronic Device(s)</li>
          <li>Digital Storage</li>
        </ul>
      </li>
    </ul>
  </p>
  <h3>Take care of my relationships.</h3>
  <p>Characteristics of <span class="pillar-name">Interpersonal Togetherness (IT)</span>:
    <ul class="characteristics">
      <li>Acknowledge and demonstrate the value of the people I love.</li>
      <li>Be reliable and treat people with kindness and respect.</li>
      <li>Maintain regular contact with my friends and family and make time for those people.</li>
      <li>Make and return phone calls and emails in a timely fashion.</li>
      <li>Remember important dates/events, and acknowledge those events through thoughtful gestures.</li>
      <li>Hold others and myself to realistic expectations in the context of our relationship.</li>
    </ul>
  </p>
  <h3>Prioritize.</h3>
  <p>Characteristics of <span class="pillar-name">Boundary-Setting</span>:
    <ul class="characteristics">
      <li>Understand that my time and energy are valuable, and I am therefore capable of deciding what things are and are not worth that time and energy.</li>
      <li>Avoid encumbrance by negative obligations, because I recognize my time commitments as individual choices.</li>
      <li>Rest when I need to rest.</li>
      <li>Keep a clear and organized schedule.  I budget my time appropriately; I am reliable and punctual.</li>
    </ul>
  </p>
  <h3>Take care of my finances.</h3>
  <p>Characteristics of <span class="pillar-name">Financial Togetherness (FT)</span>:
    <ul class="characteristics">
      <li>Have a plan for my money.  I have balanced my spending against my income and live comfortably.</li>
      <li>Have my financial documents in order and easily accessible.  I have a reliable system for paying bills and handling other financial obligations regularly and on time.</li>
      <li>Keep my purse well-stocked and organized.  Much like my OT, I can get my hands on whatever I need from my purse at any given time.</li>
    </ul>
  </p>
  <h3>Be flexible.</h3>
  <p>Characteristics of <span class="pillar-name"></span>Flexibility:
    <ul class="characteristics">
      <li>Realize that not all things, nor the actions of others, are in my control.</li>
      <li>Recognize that sometimes plans need to change, and sometimes events that are out of my control take precedence.</li>
      <li>Adapt my goals and create realistic expectations for the REAL reality of different situations.</li>
    </ul>
  </p>
  <h4>As a Together Person, I recognize that not all things are in my control, and I strive to get those things that are in my control under control.</h4>
</div>